footer {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  padding: 0 40px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-end;
}

.footer-container {
  display: flex;
  max-width: 1080px;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

.footer-links {
  display: flex;
  align-items: flex-end;
  gap: 18px;
  align-self: stretch;
  margin-bottom: 10px;
}

.footer-links a {
  transition: opacity 300ms ease-in-out;
}

.footer-colors {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  align-self: stretch;
}

.footer-links a:hover {
  opacity: 75%;
}
