header {
  display: flex;
  height: 116px;
  padding: 0px 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
}

.header-container {
  display: flex;
  max-width: 1080px;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

.left-container {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.left-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

.right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.right-container .multi-language-container {
  display: flex;
  width: 133px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  align-self: stretch;
  overflow: hidden;
}

.right-container .multi-language-container span {
  color: #484848;
  font-size: 5px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0.25px;
  text-transform: lowercase;
}
