.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: var(--container-padding);
}

.accent-wrapper {
  position: absolute;
  width: 100%;
  max-width: 1160px;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}

.color {
  position: absolute;
  top: 40px;
}

.color-box {
  width: 10px;
  height: 10px;
}

.red {
  background: #ff9cb4;
}

.blue {
  background: #9cffed;
}

.green {
  background: #c2ff9c;
}

.orange {
  background: #ffcc9c;
}

.multi-language-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
  align-self: stretch;
}
