/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); */

#root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

:root {
  font-family: 'DM Sans Variable', sans-serif, 'Roboto Mono Variable', monospace;
  line-height: 1.5;
  font-weight: 200;
  color-scheme: light dark;
  color: #000;
  background-color: #f7f7f7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --container-padding: 100px;
  --header-height: 116px;
}

a {
  font-weight: 200;
  color: #131313;
  text-decoration: inherit;
  transition: all 150ms ease-in-out;
}

body {
  margin: 0;
  display: flex;
}

h1 {
  font-family: 'Roboto Mono Variable', monospace;
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0.9px;
  margin: 0;
}

h2,
h3 {
  font-family: 'Roboto Mono Variable', monospace;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.9px;
  margin: 0;
}

h4 {
  font-family: 'Roboto Mono Variable', monospace;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.28px;
  margin: 0;
}

p {
  font-family: 'DM Sans Variable', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: 160.5%;
  /* 19.26px */
  letter-spacing: 0.6px;
  margin: 0;
}

span {
  font-family: 'Roboto Mono Variable', monospace;
  font-size: 12px;
  line-height: normal;
  font-weight: 100;
  line-height: 160.5%;
  letter-spacing: 0.6px;
  margin: 0;
}

button {
  font-family: 'DM Sans Variable', sans-serif;
  border: 0.5px solid #000;
  color: black;
  background: #fefefe;
  border-radius: 4px;
  width: 250px;
  height: 50px;
  padding: 6px 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: normal;
  cursor: pointer;
  transition: all 100ms ease-out;
}

button:hover {
  border-color: #d0d0d0;
  background: #fff;
  transform: translateY(-2px);
  box-shadow: 1px black;
}

button:active {
  transform: scale(0.95);
}

button:focus,
button:focus-visible {
  outline: 1px black;
}

.underline a:hover {
  color: #9c9c9c;
}

.tooltip {
  position: absolute;
  display: flex;
  opacity: 0;
  background-color: rgb(242, 242, 242);
  padding: 5px 10px;
  color: black;
  text-align: center;
  justify-content: center;
  border-radius: 6px;
  top: 100%;
  z-index: 20;
  transition: opacity 250ms ease-in-out;
  gap: 5px;
}

.join-us-button:hover .tooltip {
  opacity: 100%;
}

.underline:hover .tooltip {
  opacity: 100%;
}

@media only screen and (max-width: 1000px) {
  .landing-right {
    display: none;
  }

  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 570px) {
  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .right-container .multi-language-container {
    display: none;
  }
}